{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <div class="features">
        <h1>Главная страница</h1>
        <p> Это магазин по продаже кунтиков, здесь вы всегда найдете лушие кунтики на рынке,
        а если вас не устроит наш ассортимент, вы всегда можете подобрать свой вариант, во вкладке
            <a href="{% url 'create' %}">Создать свой кунтик</a>
        </p>
        <img src="{% static 'main/image/dobro.jpg' %}" width="1200">
    </div>
{% endblock %}